<div class="container">
  <header>
    <button class="search-button" onclick="history.back()">Back</button>
    <div class="header-title">Details</div>
    <!-- An empty element to balance the flex spacing -->
    <div style="width: 60px;"></div>
  </header>
  <div class="content">
    <article class="book-item">
      <h2>{{book.title}}</h2>
      <P>&nbsp;</P>
      <P>&nbsp;</P>
      <p><strong>Author:</strong> {{book.author}}</p>
      <p><strong>Description:</strong>{{book.descript}}</p>
      <p><strong>Publication Info:</strong>{{book.pubInfo}}</p>
      <p><strong>Call Number:</strong>{{book.callNo}}</p>
    </article>
  </div>
</div>